[Desktop Entry]
Type=Application
Name=PoolSync
Comment=Presse-papiers partagé NOW3
Icon=poolsync-tray
Exec=/home/zaza/.local/bin/poolsync-ctl start
Terminal=false
Categories=Utility;
StartupNotify=true
X-GNOME-UsesNotifications=true
